<label class="cat_label"> District: </label><%= select 'search', 'district', [["district", 0]] + @districts.collect {|dis| [dis.name, dis.id]} %>
<%= observe_field(:search_district, :url => {:action => :setup_wards}, :with => "dis_id", 
                              :loading => "new Element.show('indicator_sec2')", :complete => "new Element.hide('indicator_sec2')") %>