<% m = @root.categories_count; s = @categories.size - @root.categories_count; -%>
<%= m %> Main Catoger<%if m == 1 -%>y<%else-%>ies<%end-%> and 
<%= s %> Sub-Categor<%if s == 1 -%>y<%else-%>ies<%end-%>