<div class="error_msg_title">The following error<%if @new_root.errors.size > 1%>s<%end%> 
prevented the changing of the root password!</div>

<ul>
<% @new_root.errors.each do |attr, msg| %>
  <% if attr == "new_password" -%>
    <li>new password <%= msg %></li>
  <% else -%>
    <li><%= attr %> <%= msg %></li>
  <% end -%>
<% end -%>
</ul>