<table id="change_root_password">
<tr><td><p><label for="password">Current Root Password</label><br/>
<%= password_field 'root', 'password', :size => 30 %></p></td></tr>

<tr><td><p><label for="new_password">New Password</label><br/>
<%= password_field 'root', 'new_password', :size => 30 %></p></td>

<td><p><label for="new_password_confirmation">Confirm New Password</label><br/>
<%= password_field 'root', 'new_password_confirmation', :size => 30 %></p></td></tr>