<label class="cat_label"> District: </label><%= select 'address', 'district', [["district", 0]] + @districts.collect {|dis| [dis.name, dis.id]} %>
<%= observe_field(:address_districtt, :url => {:controller => "mitm_licensing_search", :action => :setup_wards}, :with => "dis_id", 
                              :loading => "new Element.show('indicator_sec2_2')", :complete => "new Element.hide('indicator_sec2_2')") %>